.input{
    width: 500px;
    height: 25px;
    padding: 10px;
    font-size: larger;
    border-radius: 50px;
    border-color: rgb(204, 192, 192);
}
.add{
    border: 5px;
    display: inline-block;
    height: 17px;
    background-color: red;
    padding: 10px 50px;
    border-radius: 50px;
    color: white;
    font-size: large;
    font-family: sans-serif;
    cursor: pointer;
}
.task{
    font-size: larger;
    background-color: lightgray;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    width: 100%-5px;
    font-family: sans-serif;
    font-weight: bold;
}
.delButton{
    margin: 0 0 0 500px;
    border: 5px;
    display: inline-block;
    height: 17px;
    background-color: red;
    padding: 10px 16px;
    border-radius: 50px;
    color: white;
    font-size: large;
    font-family: sans-serif;
    cursor: pointer;
}
.completed{
    background-color: lightgreen ;
    text-decoration: line-through;
}
.delall{
    border: 5px;
    display: inline-block;
    height: 17px;
    background-color: red;
    padding: 10px 16px;
    border-radius: 50px;
    color: white;
    font-size: large;
    font-family: sans-serif;
    cursor: pointer;
    margin: 20px 0 0;
}
.container {
    min-width :700px;
    max-width: 700px;
    min-height: 200px;
    margin :auto;
    background-color: rgb(204, 192, 192);
    border-radius:5px;
    padding: 10px;
}