.input{
    width: 500px;
    height: 25px;
    padding: 10px;
    font-size: larger;
    border-radius: 50px;
}
.add{
    border: 5px;
    display: inline-block;
    height: 25px;
    background-color: red;
    padding: 10px 50px;
    border-radius: 50px;
    color: white;
    font-size: large;
    font-family: sans-serif;
}
.task{
    font-size: larger;
    background-color: lightgray;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    width: 650px;
    font-family: sans-serif;
    font-weight: bold;
}
.delButton{
    margin: 0 0 0 500px;
    border: 5px;
    display: inline-block;
    height: 17px;
    background-color: red;
    padding: 10px 16px;
    border-radius: 50px;
    color: white;
    font-size: large;
    font-family: sans-serif;
}
.completed{
    background-color: lightgreen ;
    text-decoration: line-through;
}
.delall{
    border: 5px;
    display: inline-block;
    height: 17px;
    background-color: red;
    padding: 10px 16px;
    border-radius: 50px;
    color: white;
    font-size: large;
    font-family: sans-serif;
}